<div class="container">




<div class="row justify-content-center mt-4">
  <div class="col-8">
    <%= render "shared/errors",obj: @book%>
    <%= form_with(model: @book,class: "bg-info form-book",local: true) do |f| %>
      <div class="form-group row mt-4">
          <%= f.label :title,class: "col-sm-2 col-form-label text-white"%>
          <div class="col-8">
              <%= f.text_field :title,placeholder: "Title",class: "form-control"%>
          </div>

      </div>
      <div class="form-group row  mt-4">
          <%= f.label :description,class: "col-sm-2 col-form-label text-white"%>
          <div class="col-8">
              <%= f.text_area :description,placeholder: "Description",row: 20,class: "form-control"%>
          </div>

      </div>
      <div class="form-group row  mt-4">
          <%= f.label :author,class: "col-sm-2 col-form-label text-white"%>
          <div class="col-8">
            <%= f.text_field :author,placeholder: "Author",class: "form-control"%>
          </div>

      </div>
      <div class="form-group row  mt-4">
          <%= f.label :category,class: "col-sm-2 col-form-label text-white"%>
          <div class="col-8">
          <%= f.collection_select(:category_ids, Category.all, :id, :name,{:prompt => "Please multiple category"}, {multiple: true,class:"form-select"}) %>
          </div>

      </div>

      <div class="form-group  mt-4 text-center" >
          <%= f.submit class: "btn btn-outline-light justify-content-center"%>
      </div>
    <% end %>
  </div>
    <%= link_to "[Back]",books_path,class: "text-center text-info mt-4"%>
</div>

</div>
