
<h1 class="text-center mt-4"><%=@category.name %></h1>
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-4">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text"><%= @category.name%></p>
          <p class="card-text"><%= pluralize(@category.books.count,"Book")%></p>
        </div>
        <div class="text-center mb-4">
          <% if logged_in? && current_user.admin?%>
              <%= link_to "Edit Category Name",edit_category_path(@category.id),class: "btn btn-sm btn-outline-info "%>
          <%end%>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@category.created_at)%> ago and Edited <%= time_ago_in_words(@category.updated_at)%> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center mt-4">Books</h3>
<%=render("books/books")%>
